$background-color: #202124;
$text-color: #ededed;

html,
body {
  height: 100%;
  font-family: sans-serif;
  background-color: $background-color;
  color: $text-color;
  overflow: hidden;
  margin: 0;
}

#app {
  height: 100%;
  position: relative;
}

.flex {
  display: flex;
}

.flex > * {
  margin: 0 5px;
}

.flex {
  margin: 0 -5px;
}

.flex-nowrap {
  flex-wrap: nowrap;
}

.h-72 {
  height: 18rem;
}

.h-140 {
  height: 35rem;
}

.p-4 {
  padding: 1rem;
}

.inline-block {
  display: inline-block;
}

// Meh, regular classes from now on
.focus-indicator {
  @extend .h-72;
  width: 12rem;
  position: absolute;
  border: 0.25rem solid white;
  bottom: 13.5rem;
  left: 0.75rem;
}

.row-list-container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-left: 1rem;
  height: 35rem;
}

.row-title {
  margin: 0;
  padding: 1rem 0 0.5rem 0;
}
