$background-color: #202124;
$text-color: #ededed;

html,
body {
  height: 100%;
  font-family: sans-serif;
  background-color: $background-color;
  color: $text-color;
  overflow: hidden;
  margin: 0;
}

#app {
  height: 100%;
  position: relative;
}

.flex {
  display: flex;
}

.flex > * {
  margin: 5px;
}

.flex {
  margin: -5px;
}

.flex-nowrap {
  flex-wrap: nowrap;
}

.no-scrollbar::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.overflow-x-scroll {
  overflow-x: scroll;
}

.h-full {
  height: 100%;
}

.w-60 {
  width: 15rem;
}

.h-80 {
  height: 20rem;
}

.inline-block {
  display: inline-block;
}

.absolute {
  position: absolute;
}
