$background-color: #202124;
$text-color: #ededed;

html,
body {
  height: 100%;
  font-family: sans-serif;
  background-color: $background-color;
  color: $text-color;
  overflow: hidden;
  margin: 0;
}

#app {
  height: 100%;
  position: relative;
}

.flex {
  display: flex;
}

.flex > * {
  margin: 5px;
}

.flex {
  margin: -5px;
}

.flex-nowrap {
  flex-wrap: nowrap;
}

.no-scrollbar::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.overflow-x-scroll {
  overflow-x: scroll;
}

.h-full {
  height: 100%;
}

.w-60 {
  width: 15rem;
}

.h-80 {
  height: 20rem;
}

.h-140 {
  height: 35rem;
}

.p-4 {
  padding: 1rem;
}

.ml-4 {
  margin-left: 1rem;
}

.inline-block {
  display: inline-block;
}

.absolute {
  position: absolute;
}

.top-0 {
  top: 0;
}

.bottom-0 {
  bottom: 0;
}

.left-0 {
  left: 0;
}

.right-0 {
  right: 0;
}

// Meh, regular classes from now on
.focus-indicator {
  position: absolute;
  border: 0.25rem solid white;
  height: 20.625rem;
  width: 13.75rem;
  bottom: 10.12rem;
  left: 0.55rem;
}
